extends layout 

block estilo 
    link(rel="stylesheet", href="/stylesheets/autorizacion.css")

block content 
    div.auth-container 
        div.auth-box
            h2 Iniciar sesión 
            if (error)
                p.error= error
            form(action="/usuario/ingresar", method="post") 
                label(for="nombre") Nombre 
                input(type="text", name="nombre", required)
                label(for="email") Email 
                input(type="email", name="email", required)
                label(for="contraseña") Contraseña
                input(type="password", name="contraseña", required)
                button(type="submit") Iniciar sesión
            br
            p ¿No tenés una cuenta? #[a(href="/usuario/registrarse") Registrate]

block footer