body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.publicacion {
    scroll-margin-top: 80px; /* Ajusta este valor según el tamaño de tu cabecera/header */
}